[submodule "proposal"]
	path = proposal
	url = git@github.com:sunoru/vischemspace_proposal
[submodule "deps/sirms"]
	path = deps/sirms
	url = git@github.com:sunoru/sirms.git
[submodule "report"]
	path = report
	url = git@github.com:sunoru/VisChemSpace_report.git
